@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');


.row,
col,
.container-fluid,
.col-3 {
  margin: 0;
  padding: 0;
}

div {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

#logo {
  width: 90%;
  height: 90%;
  padding: 10px 30px;
  max-width: 16em;
  max-height: 12em;
  min-width: 10em;
  min-height: 6em;
  margin: 0 auto;
  background-color: #c0cdc9;
}

.header-container {
  align-items: center;
}

/*--------------Colours------------*/
.light-grey-background {
  background-color: #c0cdc9;
}
/*--------------Headers-------------*/
h1 {
  letter-spacing: 3px;
  font-size: 48px;
}

h2 {
  margin-top: 30px;
}
/*---------------Nav Bar--------------------*/
nav ul li a {
  color: #000;
  margin: 0 10px;
  font-size: 24px;
  letter-spacing: 1.5px;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover,
nav ul li a:hover:active {
  color: #ffffff;
}

.active {
  text-decoration: underline;
}

/*-------------Index Page----------------*/
/*Hero Image*/
.hero-container {
  display: flex;
  height: 60vh;
  position: relative;
  background-color: #65c1e8;
}
#hero-img {
  margin: 0 auto;
  height: 100%;
  width: 70%;
}
.hero-container:after {
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.hero-text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: bold;
  z-index: 9;
  font-size: 26px;
  color:black;
}
.hero-text a {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
#call-to-action{
    width:250px;
    height:70px;
    border-radius:20%;
    font-size:22px;
    font-weight:bold;
    background-color:#c0cdc9;
    color:black;
    margin-top:20px;
}

#call-to-action:hover{
    color:white;
    cursor: pointer;
    border:3px solid #185874;
}
/*Information Boxes*/
.info-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-title-container {
  border: 1px solid #c0cdc9;
  text-align: center;
}

.info-title-container:hover{
    cursor:pointer;
}

.info-title-container i {
  color: #9bd7f0;
  padding-left: 25px;
}

.info-title-container h3{
    font-size:25px;
}

.para-container ul span{
    font-weight: bold;
}

.para-container h5{
    text-align: left;
}

.para-container {
  border: 1px solid #c0cdc9;
  height: 200px;
  text-align: center;
  overflow:scroll;
  font-size:14px;
}

.para-container ul{
    text-align: left;  
}
.hidden {
  display: none;
}
/*-----------Support section (index)--------*/
.support-container {
  align-items: center;
  margin: 25px 0;
}

.support-img-container {
  text-align: center;
}

#support-image {
  width: 500px;
  height: 400px;
  border-radius: 50%;
}

.support-button {
  margin: 20px 0;
  width: 300px;
  height: 100px;
  border-radius: 20%;
  color: #f0f0f0;
  background-color: #9bd7f0;
  font-size: 24px;
}

.support-button:hover,
.support-button:hover:focus {
  background-color: #c0cdc9;
}
/*---------------Memory Game Page ---------*/
.game-link-container{
    clear: both;
    width:300px;
    height:300px;
    margin:30px auto;
}

.memory-game-link{
    width:70%;
    
}

#game-one-link{
    height:100%;
}
#game-two-link{
    margin-top:40px
}

#results-button{
    width:250px;
    height:75px;
    border-radius:25%;
    color: #f0f0f0;
    background-color: #9bd7f0;
    margin: 30px auto;
    font-weight: bold;
    font-size:18px;
}

#results-button:hover,
#results-button:focus{
    background-color: #c0cdc9;
}
/* ---------------Game One CSS--------------*/
.game-container {
  display: flex;
}

.game1-board {
  margin: 50px auto;
  padding: 0;
  width: 800px;
  height: 800px;
}
.card div {
  padding: 0;
  margin: 0;
}
.card {
  padding: 0;
  margin: 0;
  width: 196px;
  height: 196px;
  flex-wrap: wrap;
  border: 2px solid #c0cdc9;
  display: inline-flex;
  border-radius: 10%;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

.color-neutral {
  background-color: #c0cdc9;
  z-index: 999;
}

.afterword-container a{
    font-weight:bold;
    text-decoration: none;
    color:black;

}

.afterword-container a:hover{
    color:#c0cdc9;

}

#game-one-sound i,#game-two-sound i{
    padding-left:20px;
    font-size:18px;
}
/*------------Game Two CSS-------------*/

.button-container {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.game-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#red-button {
  background-color: red;
  box-shadow: 0px 3px 8px #990000, inset 0px 2px 3px #ff4c4c;
}

#play, #play-button, #reset-button{
    width:80px;
    height:40px;
    background-color: #9bd7f0;
    font-weight: bold;
    border-radius: 20%;
}

#play:hover{
    background-color:#c0cdc9

}

#level{
    margin-top:30px;
    font-size:32px;
}

#blue-button {
  background-color: blue;
}

#cyan-button {
  background-color: cyan;
}

#orange-button {
  background-color: orange;
}

#green-button {
  background-color: green;
}

.highlight {
  border: 15px solid rgb(87, 82, 82);
  box-shadow: inset 0px 0px 0px 0px red;
  box-sizing: border-box;
}

.highlight:after {
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
/*------------Suppport Page-------------*/
.support-item {
  text-align: center;

}

#support-item-three{
    margin-bottom:40px;
}

.support-heading{
    border:1px solid #000;
}

.support-heading:hover{
    cursor: pointer;
}

.support-img {
  width: inherit;
  height: 300px;
}

.support-img-item {
  width: 100%;
  height: 100%;
  border-left: 1px solid #000;
  border-right:1px solid #000;
}
.support-txt {
  width: inherit;
  border:1px solid #000;
}
.support-txt ul{
    text-align: left;
}
div#map {
  min-height: 360px;
  margin-bottom:20px;
}
/*-------------Line Breaks--------*/
.title-hr {
  border-bottom: 3px solid #9bd7f0;
  width: 220px;
  margin-bottom: 20px;
}
/*-------------Footer-------------*/
.footer-container {
  display: flex;
  align-items: center;
}

.footer-item {
  margin: auto auto;
  padding: 20px 0px;
}

.footer-item a {
  color: #000;
  font-size: 36px;
  padding: 0px 20px;
  transition: all 0.5s ease-in-out;
}

.footer-item a:hover,
.footer-item a:hover:active {
  color: #ffffff;
}

.footer-item p {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}

#footer-support-link {
  text-decoration: none;
  color: #000;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: normal;
  transition: all 0.5s ease-in-out;
  padding: 0px;
}

#footer-support-link:hover,
#footer-support-link:hover:active {
  color: #ffffff;
}
/*----------------Modals-----------------*/

.modal-box{
    position: fixed;
    z-index: 999;
    margin-left:-200px;
    margin-top:-100px;
    width:400px;
    height:200px;
    top:50%;
    left:50%;

    background-color:#c0cdc9;
    border:4px solid #185874;
}

.modal-content{
    margin: 0 auto;
    padding-top:40px;
    width:100%;
    height:75%;
    background-color:#c0cdc9;
    color:black;
    text-align: center;
    font-size:18px;
    font-weight:bold;
}

.modal-header{
    border-bottom: 4px solid #185874;
    width:100%;
    height:25%;
    text-align: right;
    
}
.modal-header h4{
    padding-left:55px;
    margin-top:-5px;
    font-weight: bold;
}
.close-btn{
    margin-top:-20px;
    color:black;
    font-size:32px;
    font-weight:bold;
    
}
.close-btn:hover,.close-btn:active{
    color:white;
    cursor: pointer;
}
/*------------------Media Queries---------------*/
@media only screen and (max-width: 2100px) {
  .hero-text {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1800px) {
  .hero-text {
    font-size: 20px;
  }
  nav ul li a {
    font-size: 18px;
    margin: 0 7px;
  }
}

@media only screen and (max-width: 1500px) {
  .hero-text {
    font-size: 18px;
  }
  nav ul li a {
    font-size: 16px;
    margin: 0 4px;
  }
}

@media only screen and (max-width: 1350px) {
  .hero-text {
    font-size: 16px;
  }
  nav ul li a {
    font-size: 16px;
    margin: 0 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-text {
    font-size: 22px;
  }

  .button-container{
      width:250px;
      height:250px;
  }
  .hero-container {
    padding: 0;
    margin: 0;
    height: 40vh;
  }

  #hero-img {
    width: 80%;
  }
  #support-image {
    width: 400px;
    height: 300px;
  }

  
}

@media only screen and (max-width: 768px) {
  .game1-board {
    width: 400px;
    height: 400px;
  }

  .button-container{
      width:200px;
      height:200px;
  }

  .card {
    width: 96px;
    height: 96px;
  }
  #game-one-link{
      width:60%;
      height:100%;
  }

  #game-two-link{
      margin-top:0;
  }
  .modal-box{
      width:300px;
      height:150px;
      margin-top:-75px;
      margin-left:-150px;
  }
  .modal-header h4{
      padding-left:5px;
      font-size:22px;
      margin-top:-8px;
}

.modal-content{
    font-size:14px;
}

@media only screen and (max-width: 576px) {
  .header-container{
      position: fixed;
      top:0;
      z-index:9999;
      width:100%;
  }
  
  .hero-container{
      margin-top: 96px; 
  }
  .game1-board {
    width: 360px;
    height: 360px;
  }

  .game-link-container{
      margin-top:10px;
      margin-bottom:10px;
  }
  
  #game-one-link{
      height:70%;
      width:70%
  }

  #game-two-link{
      margin-top:30px;
  }

  .button-container {
    width: 100px;
    height: 100px;
  }

  #call-to-action{
      margin-top:5px;
  }
  #cyan-button {
    margin-top: -30px;
  }
  #orange-button {
    margin-top: -30px;
  }
  .card {
    width: 86px;
    height: 88px;
  }

  .hero-text {
    font-size: 18px;
    top: 10%;
  }

  .hero-container {
    height: 35vh;
  }
  #hero-img {
    width: 100%;
  }
  .memory-game-title{
      margin-top:96px;
  }

  .support-type-container{
      margin-top:96px;
  }

  .game-one-intro{
      margin-top:96px;
  }

  .game-two-intro{
      margin-top:96px;
  }
}

@media only screen and (max-width: 360px) {
  .game1-board {
    width: 320px;
    height: 320px;
  }
  .button-container {
    width: 80px;
    height: 80px;
  }

  .game2-instructions p {
    font-size: 12px;
  }

  .card {
    width: 76px;
    height: 76px;
  }

  #call-to-action{
      width:150px;
      height:50px;
      margin-top:0px;
      font-size:16px;
  }

  .hero-text {
    font-size: 16px;
    top: 5%;
  }
  
  .info-item h3{
      font-size:18px;
  }
  .para-container p{
      font-size:14px;
  }

  .support-button{
      width:200px;
      height:80px;
  }
  .support-txt-container p{
      font-size:14px;
  }

}
